@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* Definir variáveis globais do CSS */
:root{
    --cor-fundo: rgb(4, 54, 39);
    --cor-destaque: rgb(24, 73, 45);
    --cor-main:rgb(34, 61, 35);
    --cor-fonte:rgb(255, 255, 255);;
}
/* Resetar as configurações do navegador */
*{
    outline: 0;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}
/*definição da página*/
body{
    background: var(--cor-fundo);/*cor do fundo*/
    font-family: 'Roboto';/*fonte importada*/
    font-size: 1.2em;/*tamanho da fonte em 'em'*/
    line-height: 1.3em;/*altura da linha*/
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--cor-main);
}
header h1{
    color: var(--cor-fonte);
    width: 90%;
    text-align: center;
}
footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background: var(--cor-main);
    position: fixed;
    bottom: 0;
    width: 100%;
}
main{
    color: var(--cor-fonte);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 20%;
    margin: 20px auto;
    padding: 10px;
    background: var(--cor-main);
    border-radius: 10px;
}
.dados{
    width: 10%;
}
form input, form label{
    display: block;
    width: 100%;
    padding: 2px;
    border-radius: 5px;
}
form button{
    width: 180%;
    border-radius: 5px;
    margin: 2px;
}

